
@media (-webkit-min-device-pixel-ratio: 2)
    div
        width 200%
        height 200%
        transform scale(.5)


@media screen and (min-width: 600px)
    .foo
      padding 20px

@media (min-width: 100px), (min-height: 200px)
    .foo
        color: #100

@media only screen and (min-width: 320px) and (max-width: 480px) and (resolution: 150dpi) {
    body { line-height: 1.4; }
}

@media not all and (orientation: landscape) {
    body {
        color: blue;
    }
}
